In [14]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline

In [15]:
data = pd.read_csv("/content/Car_sale_ads.csv")
pd.set_option('display.max_columns',None)
data

,Index,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Vehicle_version,Vehicle_generation,Production_year,Mileage_km,Power_HP,Displacement_cm3,Fuel_type,CO2_emissions,Drive,Transmission,Type,Doors_number,Colour,Origin_country,First_owner,First_registration_date,Offer_publication_date,Offer_location,Features
0,0,86200,PLN,New,Abarth,595,NaN,NaN,2021,1.0,145.0,1400.0,Gasoline,NaN,Front wheels,Manual,small_cars,3.0,gray,NaN,NaN,NaN,04/05/2021,"ul. Jubilerska 6 - 04-190 Warszawa, Mazowiecki...",[]
1,1,43500,PLN,Used,Abarth,Other,NaN,NaN,1974,59000.0,75.0,1100.0,Gasoline,NaN,Front wheels,Manual,coupe,2.0,silver,NaN,NaN,NaN,03/05/2021,"kanonierska12 - 04-425 Warszawa, Rembertów (Po...",[]
2,2,44900,PLN,Used,Abarth,500,NaN,NaN,2018,52000.0,180.0,1368.0,Gasoline,NaN,NaN,Automatic,small_cars,3.0,silver,NaN,NaN,NaN,03/05/2021,"Warszawa, Mazowieckie, Białołęka","['ABS', 'Electric front windows', 'Drivers air..."
3,3,39900,PLN,Used,Abarth,500,NaN,NaN,2012,29000.0,160.0,1368.0,Gasoline,139.0,Front wheels,Manual,small_cars,3.0,gray,NaN,NaN,NaN,30/04/2021,"Jaworzno, Śląskie","['ABS', 'Electric front windows', 'Drivers air..."
4,4,97900,PLN,New,Abarth,595,NaN,NaN,2021,600.0,165.0,1368.0,Gasoline,NaN,NaN,Manual,small_cars,3.0,blue,NaN,NaN,NaN,30/04/2021,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...","['ABS', 'Electrically adjustable mirrors', 'Pa..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208299,208299,39900,PLN,Used,Żuk,Other,NaN,NaN,2014,40000.0,173.0,1301.0,Gasoline,NaN,NaN,Manual,small_cars,1.0,other,NaN,NaN,NaN,30/04/2021,"ul. Huzarska 12 - 47-400 Racibórz, raciborski,...",[]
208300,208300,10900,PLN,Used,Żuk,Other,NaN,NaN,1970,63518.0,70.0,2120.0,Gasoline,NaN,Rear wheels,Manual,station_wagon,4.0,other,Poland,NaN,NaN,02/05/2021,"Włocławek, Kujawsko-pomorskie",[]
208301,208301,6900,PLN,Used,Żuk,Other,NaN,NaN,1977,11880.0,60.0,2120.0,Gasoline,NaN,NaN,Manual,SUV,3.0,red,NaN,NaN,11/06/1977,28/04/2021,"Złotów, złotowski, Wielkopolskie",[]
208302,208302,5700,PLN,Used,Żuk,Other,NaN,NaN,1986,100000.0,36.0,2200.0,Gasoline,NaN,NaN,Manual,minivan,2.0,blue,NaN,NaN,NaN,24/04/2021,"Kraczkowa, łańcucki, Podkarpackie",[]
208303,208303,11900,PLN,Used,Żuk,Other,NaN,NaN,1985,20056.0,70.0,2120.0,Gasoline,NaN,NaN,Manual,minivan,3.0,red,NaN,NaN,NaN,04/05/2021,"Szczecińska 40 - 75-137 Koszalin, Zachodniopom...",[]

In [16]:
#we need to check the unique variable in currency
uniqueCurrency=data.Currency.unique()
#unique values in Vehicle_generation
uniqueGen=data.Vehicle_generation.unique()
#unique values in Vehicle_version
uniqueVersion=data.Vehicle_version.unique()
#unique values in Vehicle_brand
uniqueVehicle=data.Vehicle_brand.unique()
#checking the number of unique values of vehicle version
item=data['Vehicle_version'].value_counts()

#uniqueCurrency
#uniqueGen
#uniqueVersion
#uniqueVehicle
#item

In [19]:
percent_missing = data.isnull().sum() * 100 / len(data)
missing_value_df = pd.DataFrame({'column_name': data.columns, 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True)
missing_value_df
#i wanted to know which columns have many null values instead of looking at each column, so ill drop them

                                     column_name  percent_missing
Index                                      Index         0.000000
Offer_publication_date    Offer_publication_date         0.000000
Colour                                    Colour         0.000000
Type                                        Type         0.000000
Offer_location                    Offer_location         0.000000
Production_year                  Production_year         0.000000
Fuel_type                              Fuel_type         0.000000
Features                                Features         0.000000
Vehicle_model                      Vehicle_model         0.000000
Price                                      Price         0.000000
Currency                                Currency         0.000000
Condition                              Condition         0.000000
Vehicle_brand                      Vehicle_brand         0.000000
Transmission                        Transmission         0.229952
Power_HP                                Power_HP         0.308683
Mileage_km                            Mileage_km         0.471906
Doors_number                        Doors_number         0.713861
Displacement_cm3                Displacement_cm3         0.943813
Drive                                      Drive         7.237499
Vehicle_generation            Vehicle_generation        29.017206
Vehicle_version                  Vehicle_version        33.711307
Origin_country                    Origin_country        43.202243
CO2_emissions                      CO2_emissions        54.851083
First_registration_date  First_registration_date        58.500557
First_owner                          First_owner        68.750480

In [23]:
# we will drop useless columns
df=pd.DataFrame(data)
df.drop(['First_owner','First_registration_date','Offer_location','Offer_publication_date','Currency','Index','Vehicle_version'], axis=1)


# if Im someone rich eh el hayefre2 ma3aya, condition new, vehicle version hahhahshd, vehicle generation , production year 2018 +,hp high,
# mileage less than 8k, omission min , drive mesh far2a, automatic ,
#Ecofriendly cars started in 1997

# If Im poor condition used , brand , model, version mesh hayfr2 as long as cheap,transmision wont matter HP,gas mesh hayefr2 type momken yefre2 
#, doors number yefre2


# what makes car ecofriendly? 
df

,Index,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Vehicle_version,Vehicle_generation,Production_year,Mileage_km,Power_HP,Displacement_cm3,Fuel_type,CO2_emissions,Drive,Transmission,Type,Doors_number,Colour,Origin_country,First_owner,First_registration_date,Offer_publication_date,Offer_location,Features
0,0,86200,PLN,New,Abarth,595,NaN,NaN,2021,1.0,145.0,1400.0,Gasoline,NaN,Front wheels,Manual,small_cars,3.0,gray,NaN,NaN,NaN,04/05/2021,"ul. Jubilerska 6 - 04-190 Warszawa, Mazowiecki...",[]
1,1,43500,PLN,Used,Abarth,Other,NaN,NaN,1974,59000.0,75.0,1100.0,Gasoline,NaN,Front wheels,Manual,coupe,2.0,silver,NaN,NaN,NaN,03/05/2021,"kanonierska12 - 04-425 Warszawa, Rembertów (Po...",[]
2,2,44900,PLN,Used,Abarth,500,NaN,NaN,2018,52000.0,180.0,1368.0,Gasoline,NaN,NaN,Automatic,small_cars,3.0,silver,NaN,NaN,NaN,03/05/2021,"Warszawa, Mazowieckie, Białołęka","['ABS', 'Electric front windows', 'Drivers air..."
3,3,39900,PLN,Used,Abarth,500,NaN,NaN,2012,29000.0,160.0,1368.0,Gasoline,139.0,Front wheels,Manual,small_cars,3.0,gray,NaN,NaN,NaN,30/04/2021,"Jaworzno, Śląskie","['ABS', 'Electric front windows', 'Drivers air..."
4,4,97900,PLN,New,Abarth,595,NaN,NaN,2021,600.0,165.0,1368.0,Gasoline,NaN,NaN,Manual,small_cars,3.0,blue,NaN,NaN,NaN,30/04/2021,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...","['ABS', 'Electrically adjustable mirrors', 'Pa..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208299,208299,39900,PLN,Used,Żuk,Other,NaN,NaN,2014,40000.0,173.0,1301.0,Gasoline,NaN,NaN,Manual,small_cars,1.0,other,NaN,NaN,NaN,30/04/2021,"ul. Huzarska 12 - 47-400 Racibórz, raciborski,...",[]
208300,208300,10900,PLN,Used,Żuk,Other,NaN,NaN,1970,63518.0,70.0,2120.0,Gasoline,NaN,Rear wheels,Manual,station_wagon,4.0,other,Poland,NaN,NaN,02/05/2021,"Włocławek, Kujawsko-pomorskie",[]
208301,208301,6900,PLN,Used,Żuk,Other,NaN,NaN,1977,11880.0,60.0,2120.0,Gasoline,NaN,NaN,Manual,SUV,3.0,red,NaN,NaN,11/06/1977,28/04/2021,"Złotów, złotowski, Wielkopolskie",[]
208302,208302,5700,PLN,Used,Żuk,Other,NaN,NaN,1986,100000.0,36.0,2200.0,Gasoline,NaN,NaN,Manual,minivan,2.0,blue,NaN,NaN,NaN,24/04/2021,"Kraczkowa, łańcucki, Podkarpackie",[]
208303,208303,11900,PLN,Used,Żuk,Other,NaN,NaN,1985,20056.0,70.0,2120.0,Gasoline,NaN,NaN,Manual,minivan,3.0,red,NaN,NaN,NaN,04/05/2021,"Szczecińska 40 - 75-137 Koszalin, Zachodniopom...",[]

In [1]:
sns.pairplot(df)
sns.scatter(df)

NameError: ignored